#!KAMAILIO

loadmodule "pv"
loadmodule "xlog"
loadmodule "tm"
loadmodule "sl"
loadmodule "ctl"
loadmodule "rr"
loadmodule "textops"
loadmodule "uac"

modparam("rr", "append_fromtag", 1)
modparam("uac","restore_mode","auto")

request_route {
    if ( !is_method("INVITE") ) {
        exit;
    }
    xcrit("$$tU: '$tU'\n");

    record_route();

    ## Probably a cleaner way to do this, but for simplicity sake:
    $avp(newto) = "sip:" + $(tU{s.select,0,;}) + "@" + $td;

    uac_replace_to("$(tU{tobody.display})", "$avp(newto)");

    $du = "sip:proxy2";
    t_relay();

    exit;
}
