#!KAMAILIO

loadmodule "pv"
loadmodule "xlog"
loadmodule "tm"
loadmodule "sl"
loadmodule "ctl"
loadmodule "textops"

request_route {
    t_check_trans();

    if ( !is_method("INVITE") ) {
        exit;
    }

    xcrit("$$tU: '$tU'\n");
    send_reply("404", "Not Found");
}

